.open-account {

    padding: 20px;
}
.open-account div{
    padding: 10px;
    font-size: large;
}
.btn-class .btn {
  margin: 30px 0px 30px 0px;
  padding :0.7% 8% !important;
  font-size: large !important;
}